{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Formula</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>

<body>
    <h1>Formula</h1>
    <div class="formula_part">
        <div>
            <ul>
                <li>
                    <p>Alpha:</p>
                    <input type="text" value="" id="alpha" name="alpha" onchange="alpha_change()" />
                </li>
                <li>
                    <p>Betha:</p>
                    <input type="text" value="" id="betha" name="betha" onchange="betha_change()" />
                </li>
                <li>
                    <p>Phi:</p>
                    <input type="text" value="" id="phi" name="phi" onchange="phi_change()" />
                </li>
                <li>
                    <p>Delta(a):</p>
                    <input type="text" value="" id="delta_a" name="delta_a" onchange="delta_a_change()" />
                </li>
                <li>
                    <p>Delta(p):</p>
                    <input type="text" value="" id="delta_p" name="delta_p" onchange="delta_p_change()" />
                </li>
            </ul>
        </div>

        <div>
            <ul>
                <li>
                    <p>kag:</p>
                    <input type="text" name="kag" id="kag" disabled />
                </li>
                <li>
                    <p>kagh:</p>
                    <input type="text" name="kagh" id="kagh" disabled />
                </li>
                <li>
                    <p>kagv:</p>
                    <input type="text" name="kagv" id="kagv" disabled />
                </li>
                <li></li>
                <li>
                    <p>kaph:</p>
                    <input type="text" name="kaph" id="kaph" disabled />
                </li>
                <li></li>
                <li>
                    <p>kach:</p>
                    <input type="text" name="kach" id="kach" disabled />
                </li>
                <li></li>
                <li>
                    <p>teta(a):</p>
                    <input type="text" name="teta_a" id="teta_a" disabled />
                </li>
                <li></li>
                <li>
                    <p>k0n:</p>
                    <input type="text" name="k0n" id="k0n" disabled />
                </li>
                <li>
                    <p>k0t:</p>
                    <input type="text" name="k0t" id="k0t" disabled />
                </li>
                <li>
                    <p>k0h:</p>
                    <input type="text" name="k0h" id="k0h" disabled />
                </li>
                <li>
                    <p>k0V:</p>
                    <input type="text" name="k0V" id="k0V" disabled />
                </li>
                <li></li>
                <li></li>
                <li>
                    <p>kpgh:</p>
                    <input type="text" name="kpgh" id="kpgh" disabled />
                </li>
                <li></li>
                <li>
                    <p>kpph:</p>
                    <input type="text" name="kpph" id="kpph" disabled />
                </li>
                <li></li>
                <li>
                    <p>kpch:</p>
                    <input type="text" name="kpch" id="kpch" disabled />
                </li>
                <li></li>
                <li>
                    <p>teta(p):</p>
                    <input type="text" name="teta_p" id="teta_p" disabled />
                </li>
            </ul>
        </div>
    </div>
    <!-- <button>Calculate</button> -->
    <button onclick="submit_button()">Calculate</button>
</body>
<script>
    var alpha, betha, phi, delta_a, delta_p;

    function alpha_change() {
        alpha = document.getElementById("alpha").value;
        console.log("alpha", alpha);
    }

    function betha_change() {
        betha = document.getElementById("betha").value;
        console.log("betha", betha);
    }

    function phi_change() {
        phi = document.getElementById("phi").value;
        console.log("phi", phi);
    }

    function delta_a_change() {
        delta_a = document.getElementById("delta_a").value;
        console.log("delta_a", delta_a);
    }

    function delta_p_change() {
        delta_p = document.getElementById("delta_p").value;
        console.log("delta_p", delta_p);
    }

    function submit_button() {
        $.ajax({
            type: "GET",
            url: "/submit/",
            data: {
                alpha: alpha,
                betha: betha,
                phi: phi,
                delta_a: delta_a,
                delta_p: delta_p,
            },
            success: function(response) {
                if (response == "divide by zero") {
                    alert("Divide by zero")
                } else {
                    $("#kag").val(response.kag);
                    $("#kagh").val(response.kagh);
                    $("#kagv").val(response.kagv);
                    $("#kaph").val(response.kaph);
                    $("#kach").val(response.kach);
                    $("#teta_a").val(response.teta_a);
                    $("#k0n").val(response.k0n);
                    $("#k0t").val(response.k0t);
                    $("#k0h").val(response.k0h);
                    $("#k0V").val(response.k0V);
                    $("#kpgh").val(response.kpgh);
                    $("#kpph").val(response.kpph);
                    $("#kpch").val(response.kpch);
                    $("#teta_p").val(response.teta_p);
                }
            },
        });
    }
</script>

</html>